<section id="footer">
  <!-- Footer -->
  <footer class="page-footer font-small mdb-color pt-4">

      <!-- Footer Links -->
      <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Jobflex</h6>
            <p>About us</p>
            <p>Careers</p>
            <p>Community guidelines</p>
            <p>Terms & conditions</p>
            <p>Contact us</p>
            <p>Privacy policy</p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none">

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Discover</h6>
            <p>How it works
              <a href="#!"></a>
            </p>
            <p>Blog
              <a href="#!"></a>
            </p>
            <p>
              <a href="#!"></a>
            </p>
            <p>New users FAQ
              <a href="#!"></a>
            </p>
          </div>

          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
            <p>
              <a id='footer-your-account' href="/profiles/">Your Account</a>
            </p>
            <p>
              <a id='footer-future-of-work' href="https://medium.com/betterworkingworld/future-of-work-mindset-shift-your-thinking-to-do-work-that-matters-16d889d6a3b3">Future Of Work Mindset</a>
            </p>
            <p>
              <a href="#!">Shipping Rates</a>
            </p>
            <p>
              <a href="#!">Help</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none">

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p>
              <i class="fa fa-home mr-3"></i> 7 Kelly Street Ultimo, Sydney</p>
            <p>
              <i class="fa fa-envelope mr-3"></i> Jobflex@gmail.com</p>
            <p>
              <i class="fa fa-phone mr-3"></i> + (02) 9312 0000</p>
            <p>
              <i class="fa fa-print mr-3"></i> + (02) 9312 0000</p>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-7 col-lg-8">

            <!--Copyright-->
            <p class="text-center text-md-left">© 2018 Copyright:
              <a id= 'footer-jobflex' href="">
                <strong> Jobflex </strong>
              </a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0">

            <!-- Social buttons -->
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-twitter-square"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

    </footer>
    <!-- Footer -->




</section>
