<%= stylesheet_link_tag 'home' %>
<div id="homepage">
  <div class="container align-self-center">
    <div class="row">
      <div class="col-md-12">
        <div class="banner_content">
          <h6></h6>
          <h1>Work where ever you can imagine, work on your dreams when it suits you.</h1>
          <div ><button type="button" class="btn btn-outline-light"><a id= 'post-a-task' rel="nofollow" data-method="post" href="/hosts">Post a task</a></button>

            <button type="button" class="btn btn-outline-light"><a id= 'post-a-task' href="/job/page">Browse tasks</a></div></button>


          <p></p>
        </div>

      </div>

    </div>

  </div>

</div>
