// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
// navbar
.bg-light {
    background-color: #006494!important;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #E8F1F2;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
     color: #E8F1F2;
}


// Across the whole web app
body{
  background-color: #F5F5F5;
}


// job application styling
#task-cards{
  width: 21rem;
  max-height: 600px;
  min-height: 600px;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 0 2px 1px rgba(0,0,0,.08);
  border-radius: 5px;
  overflow: hidden;
}

#card-desription{
  min-height: 150px;
}

#card-button{
  background-color: #006494;

}
