<section id="footer">
  <!-- Footer -->
  <footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Jobflex</h6>
          <p>
            <a id='footer-content' href="/comingsoon/index">About us</a>
          </p>
          <p>
            <a id='footer-content' href="/comingsoon/index">Careers</a>
          </p>
          <p>
            <a id='footer-content' href="/comingsoon/index">Community guidelines</a>
          </p>
          <p>
            <a id='footer-content' href="/comingsoon/index">Terms & conditions</a>
          </p>
          <p>
            <a id='footer-content' href="/comingsoon/index">Contact us</a>
          </p>
          <p>
            <a id='footer-content' href="/comingsoon/index">Privacy policy</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Discover</h6>
          <p>
            <a id='footer-content' href="/comingsoon/index">How it works</a>
          </p>
          <p>
            <a id='footer-content' href="/comingsoon/index">Blog</a>
          </p>
          <p>
            <a id='footer-content' href="/comingsoon/index">New users FAQ</a>
          </p>

        </div>

        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a id='footer-content' href="/profiles/">Your Account</a>
          </p>
          <p>
            <a id='footer-content' href="https://medium.com/betterworkingworld/future-of-work-mindset-shift-your-thinking-to-do-work-that-matters-16d889d6a3b3">Future Of Work Mindset</a>
          </p>

          <p>
            <a id='footer-content' href="/comingsoon/index">Help</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p id='footer-content'>
            <i id='footer-content' class="fa fa-home mr-3"></i>
            7 Kelly Street Ultimo, Sydney</p>
          <p id='footer-content'>
            <i id='footer-content' class="fa fa-envelope mr-3"></i>
            Jobflex@gmail.com</p>
          <p id='footer-content'>
            <i id='footer-content' class="fa fa-phone mr-3"></i>
            + (02) 9312 0000</p>
          <p id='footer-content'>
            <i id='footer-content' class="fa fa-print mr-3"></i>
            + (02) 9312 0000</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p id='footer-content' class="text-center text-md-left">© 2018 Copyright:
            <a id='footer-content' href="">
              <strong>
                Jobflex
              </strong>
            </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/jesse.madison.39">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://twitter.com/JesseMadison14">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://plus.google.com/105622453106877749155">
                  <i class="fab fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.linkedin.com/in/jesse-madison-60342715b/">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->

</section>
